<div class="notFoundPage">
    <div class="notFoundPage__title notFoundPageHeader">
        <p class="notFoundPageHeader_text">{% trans %} Something went wrong {% endtrans %}</p>
    </div>
    <h1 class="notFoundPage__bigText">
        404
    </h1>
    <h3 class="notFoundPage__smallText">
        {% trans %} Page not found! {% endtrans %}
    </h3>
    <h4 class="notFoundPage__superSmallText">
        {% trans %} The Page you'r looking could not be found {% endtrans %}
    </h4>
    <a class="notFoundPage__link" href="/">{% trans %} Go to Home Page {% endtrans %}</a>
</div>
