<div class="notFoundPage__title notFoundPageHeader">
    <p class="notFoundPageHeader_text">{% trans %} Something went wrong {% endtrans %}</p>
</div>

<div class="paymentErrorPage">
    <div class="corner-top"></div>
    <img class="paymentErrorPage__icon" src="/sites/default/files/payment-error-icon.png" alt="error icon">
    <h1 class="paymentErrorPage__bigText">{% trans %}Sorry but your purchase did not go through{% endtrans %}</h1>
    <h4 class="paymentErrorPage__smallText">{% trans %}Please try again later or use different funding source{% endtrans %}</h4>
    <div class="paymentErrorPage__btn" >
        <a class="paymentErrorPage__link" href="/">{% trans %}Try a different funding source{% endtrans %}</a>
    </div>
    <div class="corner-bottom"></div>
</div>
