<div class="top-corner"></div>
<div class="bottom-corner"></div>
<div class="pre-image col-sm-5">
    <img src="/themes/sa_theme/cdn/img/gift.png" alt="">
</div>
<div class="opener col-sm-7">
    <input type="text" placeholder="{% trans %} Enter your key to reveal prize {% endtrans %}" class="form-control">
    <button class="btn btn-default" id="OpenButton">{% trans %} Open Package {% endtrans %}</button>
</div>
<div class="block-log">
</div>
